@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Gestionare grupe</h1>
</div>
<div class="row">
    <div>
        <h2>Bine ati venit pe pagina universitatii!</h2>
        <p>Aici puteti accesa informatii referitoare la studentii, cursurile, grupele si profesorii institutiei de invatamant.</p>
    </div>
</div>